{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="col-12 about-div">
    <div class="about-div-img">
        <img class="about-img" src="static\imgs\about\background_about.png" alt="">
    </div>
    <div class="about-div-text col-8">
        <div class="div-h-texts">
            <h3 class="h-texts">Управляющая компания ООО "УК НА ПРАЖСКОЙ"</h3>
        </div>
        <div>
            СОГЛАСНО УКАЗУ Президента РФ от 23.04.2021 № 242 с 01 по 10МАЯ 2021 ОБЪЯВЛЕНЫ КАК НЕРАБОЧИЕ ДНИ.
            Все заявки принимаются круглосуточной диспетчерской службой
            по тел. 459-558, 604-200, 682-650 </br>


            ООО "УК НА ПРАЖСКОЙ" создана в 2018 году.</br>

            Основной вид деятельности – управление многоквартирными домами, с целью обеспечения благоприятных и
            безопасных
            условий проживания граждан, надлежащего содержание общего имущества в многоквартирном доме, предоставление
            коммунальных услуг гражданам, проживающих в домах. В нашей организации создана профессиональная служба
            управления и эксплуатации. К работе привлекаются самые высококвалифицированные специалисты. Работа
            стабильной,
            надежной и слаженной команды профессионалов обеспечивает надлежащее качество предоставляемых услуг.
        </div>

    </div>
</div>

{% endblock content %}