{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-6">
    <div class="div-h-texts">
        <h4 class="h-texts">Лицензия</h4>
    </div>
    <div>
        <span class="objects-lists-title">Информация о регистрации лицензии</span>
        </br>
        Лицензируемый вид деятельности с указанием выполняемых работ, оказываемых услуг, составляющих лицензируемый вид
        деятельности:
        </br>
        Предпринимательская деятельность по управлению многоквартирными домами
        </br>
        Лицензия: №072000317 от 13.09.2018
        </br>
        Решение оформлено документом: Приказ о предоставлении лицензии №03-16-907/18 от 13.09.2018
        </br>
        Лицензирующий орган: ГОСУДАРСТВЕННАЯ ЖИЛИЩНАЯ ИНСПЕКЦИЯ ТЮМЕНСКОЙ ОБЛАСТИ
        </br>
        Адрес осуществления лицензируемого вида деятельности: Тюменская обл, г. Тюмень, ул. Пражская, д. 17в
        </br>
        <span class="objects-lists-title">Информация о лицензиате</span>
        </br>
        Лицензиат:
        </br>
        ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "УК НА ПРАЖСКОЙ"
        </br>
        ОГРН 1187232019523
        </br>
        ИНН 7203455415
        </br>
        Адрес места нахождения:
        </br>
        625055 ОБЛ ТЮМЕНСКАЯ Г ТЮМЕНЬ УЛ ПРАЖСКАЯ ДОМ 17В ОФИС 9
        </br></br>
        <img class="license_imgs" src="static/imgs/information/317_OOO_UK_NA_PRAZHSKOJ_000.jpg" alt="">
        <img class="license_imgs" src="static/imgs/information/317_OOO_UK_NA_PRAZHSKOJ_001.jpg" alt="">
    </div>


</div>

{% endblock content %}