{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-6">
    <div class="div-h-texts">
        <h4 class="h-texts">Реквезиты</h4>
    </div>
    <div class="razdelit"></div>
    <table>
        <tbody id='req2'>
            <tr>
                <th>Тип</th>
                <td>УК</td>
            </tr>
            <tr>
                <th>Наименование</th>
                <td>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "УК НА ПРАЖСКОЙ"</td>
            </tr>
            <tr>
                <th>ОПФ</th>
                <td>Общества с ограниченной ответственностью</td>
            </tr>
            <tr>
                <th>Короткое наименование&nbsp; &nbsp; &nbsp;&nbsp;</th>
                <td>ООО "УК НА ПРАЖСКОЙ"</td>
            </tr>
            <tr>
                <th>Юридический адрес</th>
                <td>Тюменская обл, г Тюмень, ул Пражская, д 17В, оф 9</td>
            </tr>
            <tr>
                <th>Почтовый адрес</th>
                <td>Тюменская обл, г Тюмень, ул Пражская, д 17В, оф 9</td>
            </tr>
            <tr>
                <th>Фактический адрес</th>
                <td>625055, Тюменская обл, г. Тюмень, ул. Пражская, д. 17в</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>
                    <p>&nbsp;</p>

                    <p>приемная +7(3452)69-98-87</p>

                    <p>Диспетчерская (круглосуточная): +7(3452)45-95-58;+7(3452)60-15-93; +7(3452) 60-42-00</p>

                    <p>Также Вы можете направить нам предложения и замечания по работе компании в viber по номеру
                        +7-982-901-85-68 (только для сообщений)</p>

                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <th>ИНН</th>
                <td>7203455415</td>
            </tr>
            <tr>
                <th>КПП</th>
                <td>720301001</td>
            </tr>
            <tr>
                <th>ОГРН</th>
                <td>1187232019523</td>
            </tr>
            <tr>
                <th>Дата присвоения ОГРН</th>
                <td>03.08.2018 г.</td>
            </tr>
            <tr>
                <th>Часы работы</th>
                <td>
                    <p><u>Управляющая компания:</u></p>

                    <p>понедельник- четверг с 8-00 до 17-00</p>

                    <p>пятница с 8-00 до 16-00</p>

                    <p>обед с 12-00 до 13-00</p>
                </td>
            </tr>
            <tr>
                <th>Электронная почта&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </th>
                <td>trzs@mail.ru</td>
            </tr>
        </tbody>
    </table>
    <div class="razdelit"></div>
    <table id='req1'>
        <tbody>
            <tr>
                <th>Фамилия</th>
                <td>Калашникова</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>Елена</td>
            </tr>
            <tr>
                <th>Отчество</th>
                <td>Владимировна</td>
            </tr>
            <tr>
                <th>Должность</th>
                <td>Директор</td>
            </tr>
            <tr>
                <th>Наименование банка</th>
                <td>Западно-Сибирский банк ПАО Сбербанк г.Тюмень</td>
            </tr>
            <tr>
                <th>Краткое наименование банка&nbsp; &nbsp; &nbsp;</th>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>БИК</th>
                <td>047102651</td>
            </tr>
            <tr>
                <th>Адрес банка</th>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Корр. счет</th>
                <td>301 01 810 8 0000 0000651</td>
            </tr>
            <tr>
                <th>Расчетный счет</th>
                <td>407 02 810 3 6710 0000094</td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock content %}