{% extends "base.html" %}

{% load i18n %}
{% load account %} <!--socialaccount -->

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="col-8">


<div class="form">
    <div class="form_header">
        <div class="div-h-texts"><h3 class="h-texts">Вход</h3></div>
        <div class="account">
            <span>У вас нет учетной записи? Пройдите </span>
            <a class="link-body" href="{% url 'account_signup' %}">регистрацию</a>
        </div>
    </div>
    <form class="inputs" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-warning">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-warning">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}


        <div class="input">
            <input class="inputs-form-reg-auth" type="email" name="login" placeholder="E-mail"
                    autocomplete="email" required
                    id="id_login">
        </div>

        <div class="input">
            <input class="inputs-form-reg-auth" type="password" name="password"
                    placeholder="Пароль" autocomplete="current-password" required
                    id="id_password">
        </div>


        <div class="btn_reg">
            <button type="submit" class="forms-button">{% trans "Sign In" %}</button>
        </div>

    </form>

</div>


</div>
{% endblock %}
