{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="col-7">
    {%if user.id == user_profile.id%}
        <div class='flex-settings'>
            <div class='profile-photo-div'>
                {% if user_profile.profile_image.first != None%}
                <img src="{{ user_profile.profile_image.first.profile_image.url}}" alt="" class="profile-photo">
                {%else%}
                <img src="../static/default_profile.png" alt="" class="profile-photo">
                {% endif %}
            </div>
            <div>
                <div class="settings-blocks">
                    <div class="settings-headers">{{user_profile.last_name}} {{user_profile.first_name}}</div>
                    <button class="settings-change-button">Изменить</button>
                </div>
                {% if lodger_house != None %}
                    <div>
                        Ваш адрес: {{lodger_house}}
                    </div>
                {% else %}
                    <form action="{% url 'set_address' %}" method="POST" id="createForm">
                        {% csrf_token %}
                        <div class="user-adress-form">
                        <span class="user-address-span">Выбрать адрес</span>
                            <select name="house" class="select-adress">
                                <option value="" hidden disabled selected>Выбрать...</option>
                                {% for house in houses %}
                                <option value="{{ house.pk }}">{{ house }}</option>
                                {%endfor%}
                            </select>
                        </div> 
                        <button type="submit" class="forms-button-adress">
                            Применить
                        </button> 
                    </form>
                
                {% endif %}
                <div class="settings-blocks">
                    <div class="settings-headers">{{user_profile.email}}</div>
                    <button class="settings-change-button">Изменить</button>
                </div>
            </div>
        </div>
    {%else%}
        <div class='flex-settings'>
            <div class='profile-photo-div'>
                {% if user_profile.profile_image.first != None%}
                <img src="{{ user_profile.profile_image.first.profile_image.url}}" alt="" class="profile-photo">
                {%else%}
                <img src="../static/default_profile.png" alt="" class="profile-photo">
                {% endif %}
            </div>
            <div>
                {% if user_profile.is_staff == False and user_profile.is_superuser == False%}
                    <div class="settings-blocks">
                        <div class="settings-headers">Статус: пользователь</div>
                    </div>
                {%else%}
                    <div class="settings-blocks">
                        <div class="settings-headers">Статус: сотрудник УК</div>
                    </div>
                {%endif%}
                <div class="settings-blocks">
                    <div class="settings-headers">{{user_profile.last_name}} {{user_profile.first_name}}</div>
                </div>
                {% if user_profile.is_staff == True or user_profile.is_superuser == True %}
                    <div class="settings-blocks">
                        <div class="settings-headers">{{user_profile.email}}</div>
                    </div>
                {% endif %}
            </div>
        </div>
        <form action="{% url 'create_chat' user_profile.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="forms-button-send-mess" action=''>
                        Написать сообщение
            </button> 
        </form>
        
    {% endif %}
    </div>
{% endblock content %}