{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="col-5">
    <div class="form">
        <div class="form_header">
            <div class="div-h-texts"><h3 class="h-texts">Регистрация</h3></div>
            <div class="account">
                <span>У вас есть учетная запись? </span>
                <a class="link-body" href="{% url 'account_login' %}">Авторизуйтесь</a>
            </div>
        </div>

        <form class="inputs" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="input">
                <input class="inputs-form-reg-auth" name="email" type="Email" placeholder="Email" autocomplete="email" required
                        id="id_email" value="{{ form.email.value|default:'' }}">
            </div>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="alert alert-warning">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="input">
                <input class="inputs-form-reg-auth" name="first_name" type="text" placeholder="{% trans 'Имя' %}" maxlength="30"
                        id="id_first_name" value="{{ form.first_name.value|default:'' }}">
            </div>
            {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                    <div class="alert alert-warning">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="input">
                <input class="inputs-form-reg-auth" name="last_name" type="text" placeholder="{% trans 'Фамилия' %}" maxlength="30"
                        id="id_last_name" value="{{ form.last_name.value|default:'' }}">
            </div>
            {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                    <div class="alert alert-warning">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="input">
                <input class="inputs-form-reg-auth" type="password" name="password1"
                        placeholder="{% trans 'Пароль' %}" autocomplete="new-password" required
                        id="id_password1">
            </div>
            {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                    <div class="alert alert-warning">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="input">
                <input class="inputs-form-reg-auth" type="password" name="password2"
                        placeholder="{% trans 'Повторите пароль' %}" required id="id_password2">
            </div>
            {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                    <div class="alert alert-warning">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}


            <div class="btn_reg">
                <button type="submit" class="forms-button">{% trans "Регистрация" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
