#logo {
  font-family: 'Montserrat Alternates', sans-serif;
}

#logoUrl{
  text-decoration: none;
  color: black;
}


html{
  height: 100%;
}
body{
  background-color: #F8F8F8;
  position: relative;
  min-height: 100%;
  font-family: "Raleway", sans-serif;
}


a{
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black; /* Цвет ссылки */
}

.div-h-texts{
  height: 50px;
  width: auto;
}

.h-texts{
  font-weight: 700;
}


/*HEADER*/
#nav-head{
  height: 80px;
  width: 100%;
  background-color: white;
  align-items: center;
  position: relative;
}
.div-head{
  height: 80px;
  width: 100%;
  background-color: white;
  position: absolute;
}
header{
  font-weight: 450;
  margin-bottom: 10px;
}

/*SIDEBAR*/
.list-group, .list-group-flush, .list-group-item{
  background-color: #F8F8F8;
  font-weight: 500;
}
.img-side-bar{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.a-sidebar{
  display: flex;
  white-space: nowrap;
  align-items: center;
}
.left-icon{
  display: flex;
  align-items: center;
}


/*NEWS*/
.news{
  background-color: #FCFCFC;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #DCDCDC;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}
.news-image{
  width: 100%;
  height: auto;
  margin-bottom: 1%;
  margin-top: 1%;
  display: inline-block;
  border-radius: 5px;
}
.news-images{
  text-align: center;
}
.news-header{
  font-weight: 600;
  font-size: larger;
  margin-bottom: 10px;
}

.news-date-div{
  margin-top: -10px;
  margin-bottom: 10px;
  font-weight: 200;
}
.news-content{
  font-weight: 400;
  margin-bottom: 5px;
  white-space: pre-line;
}

/*NOTIFICATIONS*/
.notificate{
  background-color: #D6E7F3;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}
.notification-content{
  font-weight: 400;
  margin-bottom: 1%;
}
.notification-locate, .notification-date{
  font-weight: 400;
}
.exit{
  text-align: end;
}

/*FOOTER*/
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.footer-margin{
  padding-bottom: 270px;
}
.footer-pos{
  padding-top: 2%;
}
.footer-name{
  font-weight: 600;
  margin-bottom: 3%;
}
.p-footer-bold{
  font-weight: 600;
}
.p-footer-number{
  margin-top: -5%;
}

/*USERREQUESTS*/

.objects-lists{
  background-color: #D6E7F3;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #EDEDED;
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.request-header{
  margin-bottom: 1%;
}

.request-content{
  margin-bottom: 5%;
}

.objects-lists-title{
  margin-bottom: 2%;
  font-weight: 600;
}

.request-state{
  font-weight: 400;
}

.request-date{
  font-weight: 300;
}

.request-form-disable{
  display: none;
}

.request-form-active{
  background-color: #FCFCFC;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #C8C8C8;
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  display: block;
  animation: show 0.5s linear forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.select-request{
  appearance: none;
  border: 1px, solid;
  border-color: #d3d2d2;
  border-radius: 10px;
  padding: 2px;
  width: 100%;
}

.form-control{
  border-radius: 10px;
}

.forms-button {
  background-color: #B5E0FF; /* Green */
  border: none;
  border-radius: 10px;
  color: #212529;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-top: 10px;
}

.forms-button:hover{
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 10px 50px 0 rgba(0,0,0,0.19);
  color: white;
}

.form-control-margin{
  margin: 10px 0;
}

.device-meter{
  width: 150px;
  display: inline;
  padding: 5px 10px;
  font-size: 11pt;
  margin-top: -10px;
}

.razdelit{
  width: 100%;
  height: 5px;
  border-radius: 50px;
  background-color: #AAAAAA;
  margin-bottom: 10px;
}

.button-open{
  margin-bottom: 20px;
}

/*SING UP*/

#id_username, #id_email, #id_password1, #id_password2,
#id_login, #id_password{
  border: 1px solid;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-bottom: -5px;
}
.signup, .login{
  text-align: center;
  padding: 20px 20px;
}
.errorlist{
  list-style: none; /* Убираем маркеры */
}

