<footer class="position-sticky top-100">
    <div class="container">
        <div class="row footer-pos">
            <div class="col-2"></div>
            <div class="col-3">

                    <!--ИНФОРМАЦИЯ-->
                    
                <div class="footer-name">ООО "УК НА ПРАЖСКОЙ"</div>
                <div class="footer-locate">г. Тюмень<br/>ул. Пражская, 17В<br/>+7 (3452) 69-98-87</div>
            </div>
            <div class="col-4">

                <!--КОНТАКТНЫЕ ДАННЫЕ-->

                <div class="footer-name">Контактные телефоны</div>
                <p class="p-footer-bold">Телефон аварийно-диспетчерской службы:</p>
                <p class="p-footer-number">+7 (3452) 45-95-58</p>
                <p class="p-footer-number">+7 (3452) 60-15-93</p>
                <p class="p-footer-number">+7 (3452) 60-42-00</p>
                <p class="p-footer-number">+7 (3452) 68-26-50</p>
                <p class="p-footer-bold">Приемная:</p>
                <p class="p-footer-number">+7 (3452) 69-98-87</p>

            </div>
            <div class="col-3"></div>
        </div>
    </div>
</footer>