<div class="header">
    <header class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
            <a id="logo" class="navbar-brand" href="/">УК на пражской</a>      <!--Логотип-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>                       <!--Это и выше, адаптив-->
            </button>
            <!--Навигация-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main' %}">О компании</a>
                    </li>        
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news' %}">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homelist' %}">Дома в управлении</a>
                    </li>
                    <li class="nav-item">
                         <div class="btn-group nav-link">
                            <button type="button" class="btn-account dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Раскрытие информации
                            </button>
                            <ul class="dropdown-menu">
                            <li><a class="nav-link" href="{% url 'license' %}">Лицензия</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="nav-link" href="{% url 'requisites' %}">Реквизиты</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="nav-link" href="{% url 'npa' %}">НПА</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="nav-link" href="{% url 'perfomed_work' %}">Выполненные работы</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
                {% if user.is_authenticated %}
                    <div class="col-2 exit">
                        <div class="btn-group">
                            <button type="button" class="btn-account dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.get_short_name }}
                            </button>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'settings' user.id %}">Настройки</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% if user.is_staff %} 
                            <li><a class="dropdown-item" href="{% url 'reqeusts_dispetcher' %}">Обращения жильцов</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% comment %} <li><a class="dropdown-item" href="{% url 'reqeusts_dispetcher' %}">Заявки на подтверждение</a></li>
                            <li><hr class="dropdown-divider"></li> {% endcomment %}
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Выход</a></li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="col-2 login-reg">
                    <a href="{% url 'account_login' %}">Вход</a>
                        &nbsp;/&nbsp;
                    <a href="{% url 'account_signup' %}">Регистрация</a>
                    </div>
                {% endif %}
            </div>
            <!--Навигация-->
            </div>
        </nav>
    </header>
</div>
