<div class="col-3">
    {% if notifications_list.0 != None %}
        <div class="notification-span">Уведомления</div>
        {% for notification in notifications_list %}
                <div class="notificate">
                    <div class="notification-content">{{ notification.content }}</div>
                    <div class="notification-locate"><span class="objects-lists-title">Где: </span>{{ notification.house }}</div>
                    <div class="notification-date"><span class="objects-lists-title">Начало: </span>{{ notification.date_start }}</div>    
                    <div class="notification-date"><span class="objects-lists-title">Конец: </span>{{ notification.date_end }}</div>   
                </div>
        {% endfor %}
    {%endif%}
</div>
