{% load tz %}
{% load get_companion %}
{% load static %}
{% if user.is_authenticated %}
<!--Навигация в теле-->

<div class="col-2">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">        <!--Навигация в теле-->
        <li class="link-li">
            <a class="link-body" href="{% url 'water_meters'%}"><img class="svg-navbar-li" src="../../static/imgs/SVG/download-speed 2.svg" alt="">Показания</a>
        </li>
        <li class="link-li">
            <a class="link-body" href="{% url 'request' %}"><img class="svg-navbar-li" src="../../static/imgs/SVG/edit 1.svg" alt="">Обращения</a>
        </li>
        <li class="link-li">
            <a class="link-body" href="{% url 'chats' %}"><img class="svg-navbar-li" src="../../static/imgs/SVG/speech-bubble 1.svg" alt="">Чаты {% get_not user  as count %} {% if count != 0 %}<span class="count-message">{{count}} </span>{% endif %}</a>
        </li>
    </ul>
</div>
{% else %}
    <div class="col-2"></div>
{% endif %}
<!--Навигация в теле-->
