{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-10">
    <div class="div-h-texts">
        <p class="h-texts">Дома в управлении</p>
    </div>
    <div>
        {% if user.is_superuser %}
        <form action="{% url 'homelist' %}" method="POST" class="FORM home-update" id="updateForm">
            {% csrf_token %}
            <button type="submit" class="forms-button">

                Обновить
            </button>
            <div class='div-checkbox-update'>
                <div>
                    <input type="checkbox" id='check-update-list' name="address_list_update" value="True" />
                    <label for="check-update-list">Обновить список домов</label>
                </div>
                {% comment %} <div>
                    <input type="checkbox" id='check-update-info' name="info_in_address_update" value="True" />
                    <label for="check-update-info">Обновить информацию домов</label>
                </div> {% endcomment %}
            </div>
        </form>
        {% endif %}
    </div>
    {% if home_list.0 is None  %}
        <div class="div-h-texts">
            <p class="h-texts">Упс, тут пусто, подождите, может появятся позже :(</p>
        </div>
    {% else %}
    <table class="houses-list-table">
        <thead>
            <tr>
                <th class="th-address">Адрес</th>
                <th class="th-area">Площадь<br>кв.м</th>
                <th class="th-basis">Основание<br>управления</th>
                <th class="th-date">Дата начала<br>управления</th>
            </tr>
        </thead>
        <tbody>
            {% for home in home_list %}
            <tr>
                <td class="th-address"><a href="{% url 'home_info' home.address_id %}" class="file-link">{{ home }}</a></td>
                <td class="th-area">{{ home.area }}</td>
                <td class="th-basis">{{ home.basis_for_managment }}</td>
                <td class="th-date">{{ home.date_managment_start }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}


</div>
{% endblock content %}
