{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-10">
    <div class="div-h-texts">
        <p class="h-texts">{{house}}</p>
    </div>
    <div class="div-h-texts"><p class="h-texts"><a class="link-body" href="{% url 'homelist' %}">← вернуться назад</a></p></div>
    <div>
         <div class="div-info-retrive">
            <div class="div-info-key">Год постройки</div>
            <div>{{ house.year_build }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Год ввода дома в эксплуатацию</div>
            <div>{{ house.commissioning_year }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Серия, тип постройки здания</div>
            <div>{{ house.serias_type_of_construction }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Тип дома</div>
            <div>{{ house.residential_building_type }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Способ формирования фонда капитального ремонта</div>
            <div>{{ house.method_of_forming_a_capital_repair_fund }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Максимальное количество этажей, ед.</div>
            <div>{{ house.floor_max }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Минимальное количество этажей, ед.</div>
            <div>{{ house.floor_min }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Количество подъездов, ед.</div>
            <div>{{ house.entrances }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Количество лифтов, ед.</div>
            <div>{{ house.elevators }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Класс энергетической эффективности</div>
            <div>{{ house.energy_efficiency_class }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Количество помещений, всего</div>
            <div>{{ house.rooms_count }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Количество жилых помещений</div>
            <div>{{ house.rooms_count_life }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Количество нежилых помещений</div>
            <div>{{ house.rooms_count_no_life }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Общая площадь, кв.м</div>
            <div>{{ house.total_area_of_premises }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Общая площадь жилых помещений, кв.м</div>
            <div>{{ house.total_area_of_life }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Общая площадь нежилых помещений, кв.м</div>
            <div>{{ house.total_area_of_no_life }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Общая площадь помещений, входящих в состав общего имущества</div>
            <div>{{ house.total_area_of_common_property }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Площадь земельного участка, входящего в состав общего имущества в многоквартирном доме</div>
            <div>{{ house.land_area }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Площадь парковки в границах земельного участка</div>
            <div>{{ house.parking_area }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Элементы благоустройства (детская площадка)</div>
            <div>{{ house.playground }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Элементы благоустройства (спортивная площадка)</div>
            <div>{{ house.sportground }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Элементы благоустройства (другое)</div>
            <div>{{ house.other_improvement_elements }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Доп. информация</div>
            <div>{{ house.additional_information }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Основания для управления</div>
            <div>{{ house.basis_for_managment }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Дата начала управления</div>
            <div>{{ house.date_managment_start }}</div>
        </div>
        <div class="div-info-retrive">
            <div class="div-info-key">Кадастрвоый номер</div>
            <div>{{ house.cadastr_number }}</div>
        </div>
        {% if house.managment_file%}
        <div class="div-info-retrive">
            <div class="div-info-key">Договор управления</div>
            <div><a class="file-link" href="{{house.managment_file.url}}">{{ house.get_file_name }}</a></div>
        </div>
        {% endif %}
        <div class="div-info-retrive">
            <div><a class="file-link" href="{{house.reforma_zkh_url}}">Анкета дома на РеформаЖКХ</a></div>
        </div>
    </div>


</div>
{% endblock content %}