{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-6">
        <div class="div-h-texts"><h3 class="h-texts">Ваши показания</h3></div>
        {% if house_exist == False %}
            <div class="house_warning">Внимание!</br>Для корректной работы ваших обращений и показаний просим указать ваш адрес, 
            сделать это можно перейдя по <a href="{% url 'settings' %}"><strong>этой</strong></a> ссылке или в настройках профиля</div>
        {% endif %}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item nav-item-v2" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#in-work" type="button" role="tab" aria-controls="home" aria-selected="true">Текущие ПУ</button>
            </li>
            <li class="nav-item nav-item-v2" role="presentation">
              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#work-out" type="button" role="tab" aria-controls="contact" aria-selected="false">Удаленные ПУ</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="in-work" role="tabpanel" aria-labelledby="profile-tab">
                {% for meter in meters_list %}
                    {% if meter.is_archive != True %}
                        <div class="objects-lists">
                            <form class="form-delete" action="{% url 'water_meters_delete' meter.id %}">
                                <button class="btn-close" aria-label="close" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ request.id }}"></button>
                                <div class="modal fade" id="exampleModal-{{ request.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Подтверждение</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        Удаление прибора учета воды приведет к непригодности показаний.</br>
                                        Вы уверены, что хотите удалить прибор учета?
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                        <button type="submit" class="btn btn-primary">Да</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </form>
                            <div class="meter-type"><span class="objects-lists-title">Тип: </span>{{ meter.type }}</div>
                            <div class="meter-series-number"><span class="objects-lists-title">Серийный номер: </span>{{ meter.sires_number }}</div>
                            <div class="meter-location"><span class="objects-lists-title">Расположение: </span>{{ meter.location }}</div>
                            <div class="current-testimony"><span class="objects-lists-title">Текущие показания: </span>{{ meter.current_testimony }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="work-out" role="tabpanel" aria-labelledby="contact-tab">
                {% for meter in meters_list %}
                    {% if meter.is_archive %}
                        <div class="objects-lists">
                            <form class="form-delete" action="{% url 'water_meters_delete' meter.id %}">
                                <button class="btn-close" aria-label="close" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ request.id }}"></button>
                                <div class="modal fade" id="exampleModal-{{ request.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Подтверждение</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        Удаление прибора учета воды приведет к непригодности показаний.</br>
                                        Вы уверены, что хотите удалить прибор учета?
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                        <button type="submit" class="btn btn-primary">Да</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </form>
                            <div class="meter-type"><span class="objects-lists-title">Тип: </span>{{ meter.type }}</div>
                            <div class="meter-series-number"><span class="objects-lists-title">Серийный номер: </span>{{ meter.sires_number }}</div>
                            <div class="meter-location"><span class="objects-lists-title">Расположение: </span>{{ meter.location }}</div>
                            <div class="current-testimony"><span class="objects-lists-title">Текущие показания: </span>{{ meter.current_testimony }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="razdelit"></div>
        <!--КНОПКА ДЛЯ ОТКРЫТИЯ ФОРМЫ-->
        <button class="forms-button button-margin" type="button" id="btn-add-request" data-bs-toggle="collapse" data-bs-target="#createForm" aria-expanded="false" aria-controls="createForm">Добавить</button>
        <!--ФОРМА ДЛЯ СОЗДАНИЯ ОБРАЩЕНИЯ-->
        <form action="{% url 'water_meters_add' %}" method="POST" class="collapse multi-collapse" id="createForm">
            {% csrf_token %}
            <div class="request-form-active">
            <div>
                <span class="h-texts">Адрес обращения:</span>
                <select name="house_request" class="form-control form-control-margin">
                    <option value="" hidden disabled selected>Выбрать...</option>
                    {% for house in houses_lodger %}
                    <option value="{{ house.pk }}">{{ house }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <span class="h-texts">Тип прибора: </span>
                <select name="type" class="form-control form-control-margin device-meter">
                    <option value="" hidden disabled selected>Выбрать...</option>
                    {% for type in meters_type %}
                    <option value="{{ type }}">{{ type }}</option>
                    {%endfor%}
                </select>
            </div>
            <div>
                <span class="h-texts">Где располагается: </span>
                <select name="location" class="form-control form-control-margin device-meter">
                    <option value="" hidden disabled selected>Выбрать...</option>
                    {% for locate in meters_locate %}
                    <option value="{{ locate }}">{{ locate }}</option>
                    {%endfor%}
                </select>
            </div>
            <div>
                <span class="h-texts">Серийный номер</span>
                <input type="text" name="sires_number" class="form-control form-control-margin">
            </div>
            <div>
                <span class="h-texts">Показания: </span>
                <input type="text" name="current_testimony" class="form-control form-control-margin">
            </div>
            <!--КНОПКА ДЛЯ ОТПРАВКИ ФОРМЫ-->
            <button type="submit" class="forms-button">
                Отправить
            </button>
        </div>
        </form>
    </div>
                        <!--JS SCRIPTS-->

    <script>
        document.getElementById("btn-add-request").addEventListener('click', viewDiv);

        function viewDiv(event){
            if (event.target.innerHTML == 'Добавить') event.target.innerHTML = 'Закрыть';
            else event.target.innerHTML = 'Добавить';
        };
    </script>
{% endblock content %}