{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-6">
    <div class="div-h-texts"><p class="h-texts">Выполненные работы по текущему ремонту</p></div>
    {% if address_list.0 is None  %}
            <div class="div-h-texts">
                <p class="h-texts">Упс, тут пусто, подождите, может появятся позже :(</p>
            </div>
    {% endif %}
    {% comment %} {% for perfomed_work in perfomed_works_list %}
    <a class="file-link" href="{{ perfomed_work.file.url }}">{{ perfomed_work.file_name }}</a>
    {% endfor %} {% endcomment %}
    {% for address in address_list %}
        <div class="div-h-texts"><h5 class="h-texts"><a href="{% url 'pw' address.pk %}">{{address.street_name}}</a></h5></div>
    {% endfor %}
    </div>
    {% include 'include/notifications.html' %}
{% endblock content %}
