{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-6">
    <div class="div-h-texts"><p class="h-texts">улица {{address.street_name}}, {{ quarter }} квартал {{ year }} год</p></div>
    <div class="div-h-texts"><p class="h-texts"><a class="link-body" href="{% url 'pw' address.pk%}">← вернуться назад</a></p></div>
    {% for file in file_list %}
    <div>
        {% if file.description != None%}
            <div class="desc-file-text">{{ file.description }}</div>
        {% endif %}
        <div class="div-h-texts"><p class="h-texts"><a class="file-link" href="{{ file.file.url }}">{{ file.file_name }}</a></p></div>
    </div>
    {% endfor %}
    </div>
    {% include 'include/notifications.html' %}
{% endblock content %}
