{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-6">
    <div class="div-h-texts"><p class="h-texts">улица {{address.street_name}}</p</div>
    <div class="div-h-texts"><p class="h-texts"><a class="link-body" href="{% url 'perfomed_work' %}">← вернуться назад</a></p></div>
    {% comment %} {% for perfomed_work in perfomed_works_list %}
    <a class="file-link" href="{{ perfomed_work.file.url }}">{{ perfomed_work.file_name }}</a>
    {% endfor %} {% endcomment %}
    {% for value in values_list %}
        <div class="div-h-texts"><h5 class="h-texts"><a href="{% url 'pwQY' address.pk  value.0  value.1%}">{{value.1}} квартал {{value.0}} года</a></h5></div>
    {% endfor %}
    </div>
    {% include 'include/notifications.html' %}
{% endblock content %}
