{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-6">
        <div class="news-retrive">
            <div class="news-images"><img src="{{ news.image.url }}" alt="Фото новости" class="news-image"></div>
            <div class="news-header">{{ news.title }}</div>
            <div class="news-date-div"><span>{{ news.publicate_date }}</span></div>
            <div class="news-content">{{ news.content }}</div>
            <div class="razdelit news-razdelit"></div>
            {% for comment in comments %}
                <div class="comment-news">
                    {% if comment.comment.user.id == user.id %}
                    <form class="form-delete" method=POST action="{% url 'comment_delete' comment.comment.id %}">
                        {% csrf_token %}
                        <button class="btn-close" aria-label="close" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ request.id }}"></button>
                        <div class="modal fade" id="exampleModal-{{ request.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Подтверждение</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Удаление комментария приведет к безвозвратному стиранию его.</br>
                                Вы уверены, что хотите удалить его?
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                <button type="submit" class="btn btn-primary">Да</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </form>
                    {%endif%}
                    <div class="comment-username">{{comment.comment.user}}</div>
                    <div class="comment-text">{{comment.comment.text}}</div>
                    <div class="comment-date">{{comment.comment.date|date:'H:i, d M Y'}}</div>
                </div> 
                {% for child_comment in comment.child_comments %}
                    <div class="comment-child">
                    {% if child_comment.user.id == user.id %}
                    <form class="form-delete" method=POST action="{% url 'comment_delete' child_comment.id %}">
                        {% csrf_token %}
                        <button class="btn-close" aria-label="close" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ request.id }}"></button>
                        <div class="modal fade" id="exampleModal-{{ request.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Подтверждение</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Удаление комментария приведет к безвозвратному стиранию его.</br>
                                Вы уверены, что хотите удалить его?
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                <button type="submit" class="btn btn-primary">Да</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </form>
                    {%endif%}
                        <div class="comment-username">{{child_comment.user}}</div>
                        <div class="comment-text">{{child_comment.text}}</div>
                        <div class="comment-date">{{child_comment.date|date:'H:i, d M Y'}}</div>
                    </div>
                {% endfor %}   
            {% endfor %}
            {% if user.is_authenticated %}
                
                
                <form action="{% url "comment_create" news.id %}" method="POST" id="commentForm">
                    {% csrf_token %}
                    <div class="comments-form">    
                        <textarea placeholder="Введите комментарий" name="text" class="comments-textarea" cols="100" rows="5"></textarea>
                        <button class="textarea-button">Отправить</button>
                    </div>
                </form>


            {% else %}
                <div class="check-auth-user">Чтобы оставить комментарий пройдите <a class="blue-urls" href="#">регистрацию</a></div>  
            {% endif %}
        </div>
    </div>
    {% include 'include/notifications.html' %}
{% endblock content %}