{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-6">
        {% if news_list.0 is None  %}
            <div class="div-h-texts">
                <p class="h-texts">Упс, тут пусто, подождите, может появятся позже :(</p>
            </div>
        {% else %}
        {% for news in news_list %}
            <div class="news">
                <div class="news-header">{{ news.title }}</div>
                <div class="news-date-div"><span>{{ news.publicate_date }}</span></div>
                <div class="news-content">{{ news.content|truncatechars_html:"300" }}</div>
                <div class="news-images"><img src="{{news.image.url }}" alt="" class="news-image"></div>
                <a class="link-body" href="{% url 'news_retrive' news.id %}">Читать далее →</a>
            </div>
        {% endfor %}
        {% endif %}
    </div>
        {% include 'include/notifications.html' %}
{% endblock content %}