{% extends 'base.html' %}
{% load tz %}
{% load get_companion %}
{% load static %}
{% block content %}

<div class="col-10 row chats-div">
    <div class="col-3 dialogs">
        <div class="search-chat"> 
            <img src="{% static 'imgs/SVG/search.svg' %}" alt="">
            <div class="btn-group">
                <button type="button" class="btn-account dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Поиск
                </button>
                <ul class="dropdown-menu">
                {% for user_drop in all_users %}
                    {% if all_users.first != user_drop%}
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}
                    <li>
                        <a class="dropdown-item" href="{% url 'create_chat' user_drop.id %}" method='POST'>
                            <div class="flex-settings">
                                <div class='chat-photo-div'>
                                    {% if user_drop.profile_image.first != None%}
                                    <img src="{{ user_drop.profile_image.first.profile_image.url}}" alt="" class="chat-photo">
                                    {%else%}
                                    <img src="../static/default_profile.png" alt="" class="chat-photo">
                                    {% endif %}
                                </div>
                                <div>
                                    {{user_drop.last_name}} {{user_drop.first_name}}
                                </div>
                            </div>
                            
                            {% if user_drop.is_staff == True %}
                                <strong>Сотрудник</strong>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div> 
        </div>
        
        {% if chats.count == 0 %}
        <div class='no-such-dialogs'>Нет ни одного начатого диалога</div>
        {% endif %}
        
        {% for chat in chats %}
            {% if chat %}
                {% with last_message=chat.message_set.last %}
                    {% get_companion user chat as companion %}
                    <a class="chat-group-item {% if companion == last_message.author and not last_message.is_readed %}unreaded{% endif %} {% if chat.id == chat_id %}active-chat{% endif %}" href="{% url 'chats' %}?im={{ chat.id }}">
                        <div class="reply-body">
                            <ul class="list-chat-inline">
                                <li class="drop-left-padding">
                                    <strong class="list-group-item-heading">{{ companion }}</strong>
                                </li>
                                <li class="text-muted"><small>{{last_message.pub_date|date:'H:i'}}</small></li>
                            </ul>
                            {% if companion != last_message.author %}
                                <div>
                                    <div class="text-msg {% if not last_message.is_readed %}unreaded{% endif %}">{{ last_message.message|truncatechars_html:"15"|safe|striptags }}</div>
                                </div>
                            {% else %}
                                <div class="text-msg">{{ last_message.message|truncatechars_html:"15"|safe|striptags }}</div>
                            {% endif %}
                        </div>
                    </a>
                {% endwith %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-9 div-for-messages">
    {% if messeges.0 != None%}
        {% get_sobes user chat_id as sobesednik %}
        <div class='chat-user-name'><a href="{% url 'settings' sobesednik.id %}"><strong>{{ sobesednik.get_short_name }}</strong></a></div>
        <div class="messages">
            <div class="padding-for-messages-divs">
                {% for mes in messeges %}
                    {% if mes.author == user %}
                    <div class="message-div-sender">
                        <div class="time-message">{{mes.pub_date|date:'H:i'}}</div>
                        <div class="message user-sender">{{mes.message}}</div>
                    </div>
                    {% else %}
                    <div class="message-div-host">
                        <div class="message user-host">{{mes.message}}</div>
                        <div class="time-message">{{mes.pub_date|date:'H:i'}}</div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <form action="{% url 'create_mess' chat_id %}" method=POST class='message-form'>
            {% csrf_token %}
            <textarea class="textarea-message" placeholder="Введите сообщение" name="message" id="" cols="30" rows="10"></textarea>
            <button class="message-send-btn"></button>
        </form>
    {% elif chat_id != None %}
        {% get_sobes user chat_id as sobesednik %}
        <div class='chat-user-name'><a href="{% url 'settings' sobesednik.id %}"><strong>{{ sobesednik.get_short_name }}</strong></a></div>
        <div class="messages">
            <div class="padding-for-messages-divs">
                {% for mes in messeges %}
                    {% if mes.author == user %}
                    <div class="message-div-sender">
                        <div class="time-message">{{mes.pub_date|date:'H:i'}}</div>
                        <div class="message user-sender">{{mes.message}}</div>
                    </div>
                    {% else %}
                    <div class="message-div-host">
                        <div class="message user-host">{{mes.message}}</div>
                        <div class="time-message">{{mes.pub_date|date:'H:i'}}</div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <form action="{% url 'create_mess' chat_id %}" method=POST class='message-form'>
            {% csrf_token %}
            <textarea class="textarea-message" placeholder="Введите сообщение" name="message" id="" cols="30" rows="10"></textarea>
            <button class="message-send-btn"></button>
        </form>
    {% endif %}
    </div>
    

</div>

{% endblock content %}