#logo {
  font-family: 'Montserrat Alternates', sans-serif;
}

#logoUrl{
  text-decoration: none;
  color: black;
}

.razdelit{
  border: 1px solid #B4B1B1;
}

.container{
  margin-left: auto;
}

html{
  height: 100%;
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;   
}

body{
  background-color: #F8F8F8;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black; /* Цвет ссылки */
}

.blue-urls{
  color: #3DA6F0;
}

.div-h-texts{
  height: 50px;
  width: auto;
}

.h-texts{
  font-weight: 700;
}


/*HEADER*/
.navbar{
  height: 80px;
  font-weight: 400;
}

.header{
  background-color: white;
  margin-bottom: 33px;
  box-shadow: 0px 4px 8px rgba(203, 200, 200, 0.32);
}

.nav-item {
  padding:29px 0px 29px 55px;
  
}
.nav-item-v2{
  padding: 0;
}

/*SIDEBAR*/

.count-message{
  background-color: #3DA7F0;
  color: #FFFFFF;
  padding: 0.25rem 0.5rem;
  border-radius: 100%;
}

.link-li {
  padding-bottom: 16px;
}

.link-li:last-child {
  padding-bottom: 0;
}

.svg-navbar-li {
  padding-left: 15px;
  padding-right: 11px;
}

.link-body {
  outline: none;
  text-decoration: none;
  color: #3DA6F0;
  font-weight: 500;
  cursor: pointer;
}
 /* бутстрап делает обводку. убираем ее */

 .link-body:hover {
  outline: none;
  text-decoration: none;
  color: #3DA6F0;
  font-weight: 500;
  cursor: pointer;
}


/*NEWS*/
.news {
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 29px 42px;
  margin-bottom: 40px;
}
.news:last-child{
  margin-bottom: 0px;
}

.news-header{
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}

.news-date-div{
  color: #BABABA;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 15px;
}

.news-content{
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  white-space: pre-line;
}

.news-image{
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 20px;
  margin-bottom: 15px;
}

/*NEWS-RETRIVE*/


.comments-form {
  display:inline-block;
  position:relative; 
}

.textarea-button {
  position:absolute;
  bottom:24px;
  right:20px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #3DA6F0;
}

.comments-textarea {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  padding: 20px 24px 40px 24px;
  box-sizing: border-box;
  border-radius: 20px;
  resize: none;
  overflow: auto;
}

.check-auth-user{
  margin-top: 10px;
}

/*NOTIFICATIONS*/

.notification-span {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
  color: #000000;
}

.notificate{
  background-color: #D6E7F3;
  border-radius: 10px;
  padding: 14px 18px;
  margin-bottom: 15px;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}
.notificate:last-child{
  margin-bottom: 0;
}

.notification-content{
  margin-bottom: 10px;
  white-space: pre-line;
}
/* BUTTONS SINGING LOGOUT */
.exit, .login-reg{
  text-align: end;
}

/*ACCOUNTS SETTINGS*/

.settings-headers{
  font-weight: 700;
  font-size: 25px;
}

.profile-photo{
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
}
.profile-photo-div{
  margin-right: 5%;
}
.settings-change-button{
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  color:#3DA6F0;
  font-weight: 500;
  font-size: 16px;
}
.flex-settings{
  display: flex;
}

.settings-blocks{
  margin: 20px 0;
}
.settings-blocks:first-child{
  margin-top: 0;
}

.user-adress-form{
  overflow: hidden;
}

.user-adress-form select{
  margin: 0 13px;
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  appearance: none;
}

.forms-button-adress{
  background-color: #3DA6F0;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 10px 40px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 10px 0;
}

.forms-button-adress:hover{
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.25);
}

select::-ms-expand { 
  display: none; /* hide the default arrow in ie10 and ie11 */
}

/*FOOTER*/
footer{
  background-color: white;
  box-shadow: rgb(2 8 6 / 9%) 0px 0px 15px;
}
.footer-margin{
  padding-bottom: 30px;
}
.footer-pos{
  padding-top: 2%;
}
.footer-name{
  font-weight: 600;
  margin-bottom: 3%;
}
.p-footer-bold{
  font-weight: 600;
}
.p-footer-number{
  margin-top: -3%;
}

/*USERREQUESTS*/

.objects-lists{
  background-color: #D6E7F3;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #EDEDED;
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.house_warning{
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #ffabab;
  margin-bottom: 1%;
}

.tab-content{
  margin-top: 20px;
}

.target-test{
  width: 100px;
  height: 50px;
  background-color: red;
  cursor: pointer;
}

.target-test:target{
  background-color: black;
  height: 100px;
}

.form-delete{
  position: absolute;
  top: -5px;
  right: 10px;
}

.request-header{
  margin-bottom: 1%;
}

.request-content{
  margin-bottom: 1%;
}

.objects-lists-title{
  margin-bottom: 2%;
  font-weight: 600;
}

.request-state{
  font-weight: 400;
}

.request-date{
  font-weight: 300;
}

.request-form-disable{
  display: none;
}

.request-form-active{
  background-color: #FCFCFC;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #C8C8C8;
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  display: block;
  animation: show 0.5s linear forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.select-request{
  appearance: none;
  border: 1px, solid;
  border-color: #d3d2d2;
  border-radius: 10px;
  padding: 2px;
  width: 100%;
}

.form-control{
  border-radius: 10px;
}

.btn-account{
  border: none;
  background-color: transparent;
}

form{
  margin-top: 10px;
}

.forms-button {
  display: block;
  background-color: #3DA6F0;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition-duration: 0.4s;
}

.forms-button:hover{
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.25);
}

.forms-button-star {
  display: block;
  background-color: #3DA6F0;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition-duration: 0.4s;
}
.forms-button-star:hover{
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.25);
}

.button-margin{
  margin-top: 10px;
}

.form-control-margin{
  margin: 10px 0;
}

.device-meter{
  width: 150px;
  display: inline;
  padding: 5px 10px;
  font-size: 11pt;
  margin-top: -10px;
}

.button-open{
  margin-bottom: 20px;
}

/*SING UP*/

/* #id_username, #id_email, #id_password1, #id_password2,
#id_login, #id_password{
  border: 1px solid;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-bottom: -5px;
} */
.signup, .login{
  text-align: center;
  padding: 20px 20px;
}
.errorlist{
  list-style: none; /* Убираем маркеры */
}

#req2 tr th,td{
  padding-bottom: 1%;
}

.license_imgs{
  width: 100%;
  height: auto;
  border-radius: 50px;
}

.about-div-img{
  margin-bottom: 2%;
}

.about-img{
  object-fit: cover;
  width: 100%;
  max-height: 240px;
  border-radius: 10;
}

.about-div-text{
  margin: 0 auto;
}
/* CHATS STYLES */
.active-chat{
  background-color: #F1F9FF;
}

.chat-photo{
  object-fit: cover;
  max-width: 30px;
  max-height: 30px;
  border-radius: 100%;
}

.chats-div{
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 20px;
  min-height: calc(80vh);
  max-height: calc(80vh);
  padding: 0;
  overflow: hidden;
}
.div-for-messages{
  height: 100%;
  overflow: hidden;
  padding: 0;
}
.dialogs{
  border-right: 1px solid #E0E0E0;
  height: 100%;
  overflow-y: auto;
  max-height: inherit;
  padding: 0;
}

.chat-group-item{
  display: block;
  border-bottom: 1px solid #E0E0E0;
  padding: 12px 25px;
}

.chat-group-item:hover{
  background-color: #F1F9FF;
}

.chat-group-item:first-child {
  border-radius: 20px 0 0 0;
}

.chat-group-item:last-child {
  border: none;
}

.list-chat-inline{
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.text-muted{
  font-size: smaller;
}

.unreaded{
  background-color: #F1F1F1;
}

.list-group-item-heading{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.text-msg{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding: 1% 3%;
  color: #414141;
  border-radius: 20px;
}
.search-chat{
  padding: 7px 20px;
  height: 5%;
  border-bottom: 1px solid #E0E0E0;
}
::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #666;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #fff; border-radius: 3px;}
::-webkit-resizer { background-color: #666;}

/* HOMELIST PAGE */

.th-area, .th-basis{
  text-align: center;
}

.th-date{
  text-align: right!important;
}

.houses-list-table{
  font-weight: 500;
  font-size: 14px;
}

.houses-list-table td{
  border-top: 1px solid #dee2e6;
  padding: .75rem;
}

.houses-list-table thead th{
  border-bottom: 2px solid #3DA6F0;
  font-size: 16px;
  padding: .75rem;
}

.home-update{
  display: flex;
}
.div-checkbox-update{
  margin-left: 0.75rem;
  padding: 0.25rem;
}

.div-info-retrive{
  font-weight: 500;
  display: flex;
  padding: 0.5rem;
  max-width: 700px;
  border-bottom: 1px solid #E0E0E0;
}
.div-info-retrive:last-child{
  border-bottom: none;
}

.div-info-key{
  min-width: 350px;
  max-width: 350px;
  margin-right: 3rem!important;
}
.file-link{
  text-decoration: underline;
}


/* NEWS COMMENTS */
.comment-news{
  margin-bottom: 27px;
  position: relative;
}
.comment-username{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color:#000000;
  margin-bottom: 6px;
}
.comment-text{
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  color: #414141;
  margin-bottom: 4px;
}
.comment-date{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #837F7F;
}
.news-razdelit{
  margin: 46px 0 22px 0;
}
.comment-child{
  margin-left: 20px;
  margin-bottom: 10px;
  position: relative;
}


/* INPUTS IN REG-AUTH FORMS */
.input{
  margin-bottom: 30px;
}

.inputs-form-reg-auth{
  min-width: 458px;
  min-height: 58px;
  padding: 19px 24px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 10px;
}
.alert-warning{
  max-width: 458px;
  max-height: 58px;
  padding: 5px 10px;
  background: #f18888;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 10px;
}

/* CHATS STYLES */
.no-such-dialogs{
  display: block;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  padding: 12px 25px;
}
.messages{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  height: 83%;
  overflow: scroll;
  overflow-x: hidden;
}
.message-div-sender{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.message-div-host{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.message{
  white-space: pre-line;
  align-items: center;
  padding: 16px 20px;
  border-radius: 25px;
  max-width: calc(30vw);
}
.user-sender{
  background: #D6E7F3;
  margin-left: 5px;
  word-wrap: break-word;
}
.user-host{
  background: #F1F1F1;
  margin-right: 5px;
  word-wrap: break-word;
}
.time-message{
  font-size: small;
}
.chat-user-name{
  display: flex;
  width: 100%;
  padding: 15px 20px;
  border-bottom: 1px solid #E0E0E0;
  top: 0;
  max-height: 5%;
  align-items: center;
}
.message-form{
  display: flex;
  align-items: center;
  border-top: 1px solid #E0E0E0;
  position: relative;
  padding: 23px 25px 23px 30px;
  height: 12%;
  margin-top: 0;
}
.textarea-message{
  align-items: center;
  padding: 15px 24px;
  width: 90%;
  height: 50px;
  left: 0px;
  bottom: 0px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 1.5rem;
}
.message-send-btn{
  background: none;
  background-image: url(../static/imgs/SVG/send_mess.svg);
  margin-right: 0.5rem;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  border: none;
}
.padding-for-messages-divs{
  padding: 0 0.75rem;
}
/* ABOUT PAGE STYLES */
.about-div-img{
  margin-bottom: 2%;
}

.about-img{
  object-fit: cover;
  width: 100%;
  max-height: 240px;
  border-radius: 10px;
}

.about-div-text{
  margin: 0 auto;
}

/* DISPETCHER USERS REQUESTS */
.user-executor-form select{
  margin: 0 13px;
  padding: 5px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  appearance: none;
}

.disp-req-lists{
  background-color: #D6E7F3;
  max-width: 700px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #EDEDED;
  padding: 2% 3%;
}

/* SEND MESS FROM PROFILE */
.forms-button-send-mess{
  background-color: #3DA6F0;
  border: none;
  width: 200px;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 10px 0;
}
