{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="{% static 'imgs/fav.png' %}" type="image/x-icon">
    <!-- text -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>УК на Пражской</title>
</head>
    <!--ИНКЛЮ ХЕДЕРА-->
    {% include 'include/header.html' %}
<body>
    <div class="container footer-margin">
        <main>
            <div class="row">
                 <!--ИНКЛЮ САЙДБАРА-->
            {% include 'include/sidebar.html' %}
            {% block content %}
    
            {% endblock content %}
            
            </div>
        </main>
    </div>
     <!--ИНКЛЮ ФУТЕРА-->
    {% include 'include/footer.html' %}
</body>


</html>