{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-6">
    <div class="div-h-texts">
        <p class="h-texts">Нормативно-правовые акты</p>
    </div>
    {% if npa_list.0 is None  %}
            <div class="div-h-texts">
                <p class="h-texts">Упс, тут пусто, подождите, может появятся позже :(</p>
            </div>
    {% endif %}
    {% for npa in npa_list %}
    <div class="file-div">
        {% if npa.description != None%}
            <div class="desc-file-text">{{ npa.description }}</div>
        {% endif %}
        <div class="div-h-texts"><h6 class="h-texts"><a class="file-link" href="{{ npa.file.url }}">{{ npa.file_name }}</a></h6></div>
    </div>
    {% endfor %}
</div>
{% include 'include/notifications.html' %}
{% endblock content %}
