{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-6">
        <div class="div-h-texts"><h3 class="h-texts">Ваши обращения</h3></div>
        {% if house_exist == False %}
            <div class="house_warning">Внимание!</br>Для корректной работы ваших обращений и показаний просим указать ваш адрес, 
            сделать это можно перейдя по <a href="{% url 'settings' user.id %}"><strong>этой</strong></a> ссылке или в настройках профиля</div>
        {% endif %}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item nav-item-v2" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#in-work" type="button" role="tab" aria-controls="home" aria-selected="true">В работе</button>
            </li>
            <li class="nav-item nav-item-v2" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#canceled" type="button" role="tab" aria-controls="profile" aria-selected="false">Отмененные</button>
            </li>
            <li class="nav-item nav-item-v2" role="presentation">
              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#work-out" type="button" role="tab" aria-controls="contact" aria-selected="false">Исполненные</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="in-work" role="tabpanel" aria-labelledby="home-tab">
                {% for request in requests_in_work %}
                    <div class="objects-lists">
                            <form class="form-delete" action="{% url 'request_delete' request.id %}">
                                <button class="btn-close" aria-label="close" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ request.id }}"></button>
                                <div class="modal fade" id="exampleModal-{{ request.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Подтверждение</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        Удаление обращения приведет к отмене его исполнения.</br>
                                        Вы уверены, что хотите отменить обращение?
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                        <button type="submit" class="btn btn-primary">Да</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </form>
                            <div class="request-header"><span class="objects-lists-title">Тема: </span>{{ request.title }}</div>
                            <div class="request-content"><span class="objects-lists-title">Описание: </span><br/>{{ request.descriptions }}</div>
                            <div class="request-state"><span class="objects-lists-title">Статус: </span>{{ request.state }}</div>
                            <div class="request-state"><span class="objects-lists-title">Исполнитель: </span>{% if request.employee != None %}<a href="{% url 'settings' request.employee.id %}">{{ request.employee }}</a>{%else%}Не назначен{%endif%}</div>
                            <div class="request-date"><span class="objects-lists-title">Дата подачи: </span>{{ request.date }}</div>      
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="canceled" role="tabpanel" aria-labelledby="profile-tab">
                {% for request in requests_canceled %}
                    <div class="objects-lists">
                            <form class="form-delete" action="{% url 'request_delete' request.id %}">
                                <button class="btn-close" aria-label="close" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ request.id }}"></button>
                                <div class="modal fade" id="exampleModal-{{ request.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Подтверждение</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        Удаление обращения приведет к отмене его исполнения.</br>
                                        Вы уверены, что хотите отменить обращение?
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                        <button type="submit" class="btn btn-primary">Да</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </form>
                            <div class="request-header"><span class="objects-lists-title">Тема: </span>{{ request.title }}</div>
                            <div class="request-content"><span class="objects-lists-title">Описание: </span><br/>{{ request.descriptions }}</div>
                            <div class="request-state"><span class="objects-lists-title">Статус: </span>{{ request.state }}</div>
                            <div class="request-state"><span class="objects-lists-title">Исполнитель: </span>{% if request.employee != None %}<a href="{% url 'settings' request.employee.id %}">{{ request.employee }}</a>{%else%}Не назначен{%endif%}</div>
                            <div class="request-date"><span class="objects-lists-title">Дата подачи: </span>{{ request.date }}</div>      
                    </div>
                {% endfor %}  
            </div>
            <div class="tab-pane fade" id="work-out" role="tabpanel" aria-labelledby="contact-tab">
                {% for request in requests_work_out %}
                    <div class="objects-lists">
                            <form class="form-delete" action="{% url 'request_delete' request.id %}">
                                <button class="btn-close" aria-label="close" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ request.id }}"></button>
                                <div class="modal fade" id="exampleModal-{{ request.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Подтверждение</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        Удаление обращения приведет к отмене его исполнения.</br>
                                        Вы уверены, что хотите отменить обращение?
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                        <button type="submit" class="btn btn-primary">Да</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </form>
                            <div class="request-header"><span class="objects-lists-title">Тема: </span>{{ request.title }}</div>
                            <div class="request-content"><span class="objects-lists-title">Описание: </span><br/>{{ request.descriptions }}</div>
                            <div class="request-state"><span class="objects-lists-title">Статус: </span>{{ request.state }}</div>
                            <div class="request-state"><span class="objects-lists-title">Исполнитель: </span>{% if request.employee != None %}<a href="{% url 'settings' request.employee.id %}">{{ request.employee }}</a>{%else%}Не назначен{%endif%}</div>
                            <div class="request-date"><span class="objects-lists-title">Дата подачи: </span>{{ request.date }}</div>
                            {% if request.request_stars == 'Не задано' %}
                            <form class="form-stars" action="{% url 'request_star' request.id %}" id='reques-star-form'>
                                <label for="qwer">Оцените качество обработки обращения  :</label>
                                <select name="request_stars" class="form-control form-control-margin" id='qwer'>
                                    <option value="" hidden disabled selected>Выбрать...</option>
                                    {% for star in request_stars %}
                                    <option value="{{ star}}">{{ star }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="forms-button-star">
                                    Отправить
                                </button>
                            </form>
                            {% else %}
                                <div class="request-date"><span class="objects-lists-title">Удовлетворение исполнения: </span>{{ request.request_stars }}</div>
                            {% endif %}

                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="razdelit"></div>
        <!--КНОПКА ДЛЯ ОТКРЫТИЯ ФОРМЫ-->
        <button class="forms-button button-margin" type="button" id="btn-add-request" data-bs-toggle="collapse" data-bs-target="#createForm" aria-expanded="false" aria-controls="createForm">Добавить</button>
        <!--ФОРМА ДЛЯ СОЗДАНИЯ ОБРАЩЕНИЯ-->
        <form action="{% url 'request_add' %}" method="POST" class="collapse multi-collapse" id="createForm">
            {% csrf_token %}
            <div class="request-form-active">
            <div>
                <h5 class="h-texts">Отправьте свое обращение</h6>
                <span class="h-texts">Адрес обращения:</span>
                <select name="house_request" class="form-control form-control-margin">
                    <option value="" hidden disabled selected>Выбрать...</option>
                    {% for house in houses_lodger %}
                    <option value="{{ house.pk }}">{{ house }}</option>
                    {% endfor %}
                </select>
                <span class="h-texts">Тип обращения: </span>
                <select name="title" class="form-control form-control-margin">
                    <option value="" hidden disabled selected>Выбрать...</option>
                    {% for type in requests_type %}
                    <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
                
            </div>
            <div>
                <span class="h-texts">Опишите проблему:</span>
                <textarea class="form-control form-control-margin" rows="5" name="descriptions"
                id="contactcomment" required=""></textarea>
            </div>
            <!--КНОПКА ДЛЯ ОТПРАВКИ ФОРМЫ-->
            <button type="submit" class="forms-button">
                Отправить
            </button>
            </div>
        </form>
    </div>
                    <!--JS SCRIPTS-->

    <script>
        document.getElementById("btn-add-request").addEventListener('click', viewDiv);

        function viewDiv(event){
            if (event.target.innerHTML == 'Добавить') event.target.innerHTML = 'Закрыть';
            else event.target.innerHTML = 'Добавить';
        };
    </script>
{% endblock content %}
