{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class='col-9'>
    {% if user.is_staff == True %}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item nav-item-v2" role="presentation">
              <button class="nav-link active" id="consideratio-tab" data-bs-toggle="tab" data-bs-target="#consideratio" type="button" role="tab" aria-controls="consideratio" aria-selected="true">На рассмотрении</button>
            </li>
            <li class="nav-item nav-item-v2" role="presentation">
              <button class="nav-link" id="in-work-tab" data-bs-toggle="tab" data-bs-target="#in-work" type="button" role="tab" aria-controls="in-work" aria-selected="false">В работе</button>
            </li>
            <li class="nav-item nav-item-v2" role="presentation">
              <button class="nav-link" id="canceled-tab" data-bs-toggle="tab" data-bs-target="#canceled" type="button" role="tab" aria-controls="canceled" aria-selected="false">Отмененные</button>
            </li>
            <li class="nav-item nav-item-v2" role="presentation">
              <button class="nav-link" id="work-out-tab" data-bs-toggle="tab" data-bs-target="#work-out" type="button" role="tab" aria-controls="work-out" aria-selected="false">Исполненные</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="consideratio" role="tabpanel" aria-labelledby="consideratio-tab">
                {% for request in requests_consideration %}
                    <div class="disp-req-lists">
                        <div class="request-header"><span class="objects-lists-title">Отправитель: </span>{{ request.user }}</div>
                        <div class="request-header"><span class="objects-lists-title">Тема: </span>{{ request.title }}</div>
                        <div class="request-content"><span class="objects-lists-title">Описание: </span><br/>{{ request.descriptions }}</div>
                        <div class="request-state"><span class="objects-lists-title">Статус: </span>{{ request.state }}</div>
                        {% if request.employee != None %}
                            <div class="request-state"><span class="objects-lists-title">Исполнитель: </span>{{ request.employee }}</div>
                        {% else %}
                            <form action="{% url 'reqeusts_dispetcher' request.id%}" method="POST" id="createForm">
                                {% csrf_token %}
                                <div class="user-executor-form">
                                <span class="user-executor-span">Выбрать исполнителя</span>
                                    <select name="employee" class="select-executor">
                                        <option value="" hidden disabled selected>Выбрать...</option>
                                        {% for employe in employee %}
                                        <option value="{{ employe.pk }}">{{ employe }}</option>
                                        {%endfor%}
                                    </select>
                                </div> 
                                <button type="submit" class="forms-button-adress">
                                    Применить
                                </button> 
                            </form>
                        {% endif %}  
                        <div class="request-date"><span class="objects-lists-title">Дата подачи: </span>{{ request.date }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="in-work" role="tabpanel" aria-labelledby="in-work-tab">
                {% for request in requests_in_work %}
                    <div class="disp-req-lists">
                        <div class="request-header"><span class="objects-lists-title">Отправитель: </span>{{ request.user }}</div>
                        <div class="request-header"><span class="objects-lists-title">Тема: </span>{{ request.title }}</div>
                        <div class="request-content"><span class="objects-lists-title">Описание: </span><br/>{{ request.descriptions }}</div>
                        <div class="request-state"><span class="objects-lists-title">Статус: </span>{{ request.state }}</div>
                        {% if request.employee != None %}
                            <div class="request-state"><span class="objects-lists-title">Исполнитель: </span>{{ request.employee }}</div>
                        {% else %}
                            <div class="request-state"><span class="objects-lists-title">Исполнитель: </span>Не назначен</div>
                        {% endif %} 
                        <div class="request-date"><span class="objects-lists-title">Дата подачи: </span>{{ request.date }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="canceled" role="tabpanel" aria-labelledby="canceled-tab">
                {% for request in requests_canceled %}
                    <div class="disp-req-lists">
                        <div class="request-header"><span class="objects-lists-title">Отправитель: </span>{{ request.user }}</div>
                        <div class="request-header"><span class="objects-lists-title">Тема: </span>{{ request.title }}</div>
                        <div class="request-content"><span class="objects-lists-title">Описание: </span><br/>{{ request.descriptions }}</div>
                        <div class="request-state"><span class="objects-lists-title">Статус: </span>{{ request.state }}</div>
                        {% if request.employee != None %}
                            <div class="request-state"><span class="objects-lists-title">Исполнитель: </span>{{ request.employee }}</div>
                        {% else %}
                            <div class="request-state"><span class="objects-lists-title">Исполнитель: </span>Не назначен</div>
                        {% endif %} 
                        <div class="request-date"><span class="objects-lists-title">Дата подачи: </span>{{ request.date }}</div>
                    </div>
                {% endfor %}  
            </div>
            <div class="tab-pane fade" id="work-out" role="tabpanel" aria-labelledby="work-out-tab">
                {% for request in requests_work_out %}
                    <div class="disp-req-lists">
                        <div class="request-header"><span class="objects-lists-title">Отправитель: </span>{{ request.user }}</div>
                        <div class="request-header"><span class="objects-lists-title">Тема: </span>{{ request.title }}</div>
                        <div class="request-content"><span class="objects-lists-title">Описание: </span><br/>{{ request.descriptions }}</div>
                        <div class="request-state"><span class="objects-lists-title">Статус: </span>{{ request.state }}</div>
                        {% if request.employee != None %}
                            <div class="request-state"><span class="objects-lists-title">Исполнитель: </span>{{ request.employee }}</div>
                        {% else %}
                            <div class="request-state"><span class="objects-lists-title">Исполнитель: </span>Не назначен</div>
                        {% endif %} 
                        <div class="request-date"><span class="objects-lists-title">Дата подачи: </span>{{ request.date }}</div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <div class="div-h-texts"><h3 class="h-texts">Вы не сотрудник компании</h3></div>
        {% endif %}
    <div>
{% endblock content %}
